$base_ligth: #214a60;
$base_dark: #051c2c;
$contrast_light: #fac768;
$contrast_medium: #ed9b07;
$contrast_dark: #d46103;
$base: #fade9d;

$font: #8d8d8d;
$hightlight_font: #3d3d3d;
$disabled: #d8d8d8;
$foundation: #fef7e6;
$white: #ffffff;


$special_font: 'PlayfairDisplay', serif;
$basic_font: 'Raleway', sans-serif;

$troye_serif: 'TroyeSansFree SERIF';
$troye_sans: 'TroyeSansFree SANS';
$troye_script: 'TroyeSansFree SCRIPT';

$logo: 'Holdiger';