.overview {
  width: 100vw;
  overflow: hidden;
}

.background {
  position: fixed;
  width: 1050px;
  height: 100%;
  background-size: cover;
  background-position: start start;
  background-repeat: no-repeat;
  z-index: 1;
  float: left;
}

.background_question {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 1;
  float: left;
}

.background_goal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  /* or contain depending on what you want */
  background-position: end end;
  background-repeat: no-repeat;
  z-index: 1;
  float: left;
}

.category_container {
  position: fixed;
  height: 100vh;
  width: 50vw;
  right: 0;
  z-index: 2;
  align-self: right;
  background-color: #8ebedd;
  float: left;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.goal_container {
  position: fixed;
  height: 100vh;
  width: 50vw;
  right: 0;
  z-index: 2;
  align-self: right;
  background-color: rgb(144, 205, 255);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.selection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-right: 60px;
  padding-left: 60px;
}

.heading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  margin-bottom: 80px;
  color: rgba(2, 75, 104, 0.9882352941);
  word-wrap: break-word;
}

.buttons {
  display: grid;
  grid-gap: 1.5em;
}

.element {
  background-color: rgba(181, 214, 236, 0.768627451);
  border: 1px solid rgba(2, 75, 104, 0.9882352941);
  height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: rgba(2, 75, 104, 0.9882352941);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.element:nth-of-type(1) {
  top: 40%;
}

.element:nth-of-type(2) {
  top: 50%;
}

.element:nth-of-type(3) {
  top: 60%;
}

.element:nth-of-type(4) {
  top: 70%;
}

@-webkit-keyframes move {
  from {
    left: 110%;
  }
  to {
    left: 50%;
  }
}

@keyframes move {
  from {
    left: 110%;
  }
  to {
    left: 50%;
  }
}
.element:nth-of-type(0) {
  --top: 30+$i*10%;
}

.buttons button:nth-child(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.element:nth-of-type(1) {
  --top: 30+$i*10%;
}

.buttons button:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.element:nth-of-type(2) {
  --top: 30+$i*10%;
}

.buttons button:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.element:nth-of-type(3) {
  --top: 30+$i*10%;
}

.buttons button:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.element:nth-of-type(4) {
  --top: 30+$i*10%;
}

.buttons button:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.empty {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  color: rgba(254, 254, 254, 0.9882352941);
  word-wrap: break-word;
  text-align: center;
}

.container_question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.question_box {
  height: 400px;
  width: 900px;
  z-index: 2;
  background-color: #253c74;
  opacity: 0.9;
  box-shadow: rgba(49, 49, 52, 0.706) 0px 9px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  font-family: "TroyeSansFree SCRIPT";
  font-size: 80px;
  color: rgba(254, 254, 254, 0.9882352941);
  word-wrap: break-word;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.prev {
  all: unset;
  position: fixed;
  left: 80px;
}

.next {
  all: unset;
  position: fixed;
  right: 80px;
}

.prev:disabled .icon {
  color: rgba(236, 234, 234, 0.401);
}

.next:disabled .icon {
  color: rgba(236, 234, 234, 0.401);
}

.icon {
  color: white;
  opacity: 100%;
  font-size: 100px;
}

@media all and (max-width: 1000px) {
  .prev {
    all: unset;
    position: fixed;
    left: 10px;
    margin: 10px;
  }
  .next {
    all: unset;
    position: fixed;
    right: 10px;
  }
  .icon {
    color: white;
    opacity: 100%;
    font-size: 70px;
  }
}
@media all and (max-width: 500px) {
  .prev {
    all: unset;
    position: fixed;
    left: 15px;
  }
  .next {
    all: unset;
    position: fixed;
    right: 15px;
  }
  .icon {
    color: white;
    opacity: 100%;
    font-size: 50px;
  }
}
@media all and (max-width: 500px) {
  .overview {
    width: 100vw;
    overflow: hidden;
  }
  .background {
    background: url("../../resources/background.jpg");
    position: fixed;
    width: 1050px;
    height: 100%;
    background-size: cover;
    /* or contain depending on what you want */
    background-position: start start;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .background_goal {
    background: url("../../resources/Tahoe.jpeg");
    position: fixed;
    width: 1050px;
    height: 100%;
    background-size: cover;
    /* or contain depending on what you want */
    background-position: end end;
    background-repeat: no-repeat;
    z-index: 1;
    right: 0;
  }
  .category_container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
  }
  .goal_container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    float: left;
  }
  .selection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-right: 60px;
    padding-left: 60px;
  }
}/*# sourceMappingURL=Selection.module.css.map */